/* Enter your custom styles here */
.sampleStyle{
	/*padding-top: 1px;*/
	font-size: 18px;
	/*color: black;*/
	font-weight: bold;
}


sapThemeFontSize{
	font-size : 500rem;
	font-weight: bold;
}
html:not([dir=rtl]) .sapRTSTOrdProdTableCalendar .sapMListTblCell.sapRTSTOrdProdTableCalendarColumn:not(.sapMListTblHeaderCell):not(.sapRTSTOrdProdTableCalendarColumnCW) {
    padding-right: 0.25rem
}
html[dir=rtl] .sapRTSTOrdProdTableCalendar .sapMListTblCell.sapRTSTOrdProdTableCalendarColumn:not(.sapMListTblHeaderCell):not(.sapRTSTOrdProdTableCalendarColumnCW) {
    padding-left: 0.25rem
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell {
    width: 100%;
    height: 3rem;
    position: relative
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalTopLeft {
    position: absolute;
    top: 0;
    margin-top: 0.125rem
}
html:not([dir=rtl]) .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalTopLeft {
    left: 0;
    margin-left: 0.125rem
}
html[dir=rtl] .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalTopLeft {
    right: 0;
    margin-right: 0.125rem
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalTopRight {
    position: absolute;
    top: 0
}
html:not([dir=rtl]) .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalTopRight {
    right: 0
}
html[dir=rtl] .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalTopRight {
    left: 0
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalBottomRight {
    position: absolute;
    bottom: 0;
    margin-bottom: 0.125rem
}
html:not([dir=rtl]) .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalBottomRight {
    right: 0;
    margin-right: 0.125rem
}
html[dir=rtl] .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalBottomRight {
    left: 0;
    margin-left: 0.125rem
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalMiddle {
    margin-top: 1.125rem
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalTopLeft.sapRTSTOrdProdCalText {
    font-size: 0.875rem
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalBottomRight.sapRTSTOrdProdCalText {
    font-size: 0.875rem
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdLabelColumnHeader {
    font-size: 0.625rem;
    text-transform: uppercase
}
.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdLabelColumnHeader.sapRTSTOrdProdLabelColumnHeaderToday {
    font-weight: bold
}
.sapRTSTOrdProdTableCalendar .sapMListTblCell.sapRTSTOrdProdTableCalendarColumn {
    border-top: 0;
    border-bottom: 0.063rem solid@sapUiLightestBorder;padding:0}html:not([dir=rtl]) .sapRTSTOrdProdTableCalendar .sapMListTblCell.sapRTSTOrdProdTableCalendarColumn {
        border-right: 0;
        border-left: 0.063rem solid@sapUiLightestBorder}html[dir=rtl] .sapRTSTOrdProdTableCalendar .sapMListTblCell.sapRTSTOrdProdTableCalendarColumn {
            border-left: 0;
            border-right: 0.063rem solid@sapUiLightestBorder}.sapRTSTOrdProdTableCalendar .sapMListTblRow>.sapMListTblCell.sapRTSTOrdProdTableCalendarColumn: nth-last-child(2) {
                border-right: 0.063rem solid@sapUiLightestBorder}.sapRTSTOrdProdTableCalendar .sapMListTblHeader .sapMListTblCell.sapRTSTOrdProdTableCalendarColumn {
                    background-color: @sapUiMediumBG}.sapRTSTOrdProdTableCalendar .sapMListTblCell.sapRTSTOrdProdTableCalendarColumn.sapRTSTOrdProdTableCalendarColumnCW {
                        background-color: @sapUiMediumBG}.sapRTSTOrdProdTableCalendar .sapMListShowSeparatorsAll .sapMLIBShowSeparator: last-child>td.sapRTSTOrdProdTableCalendarColumn {
                            border-bottom: 0.063rem solid@sapUiLightestBorder}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdTextCalendarWeek {
                                line-height: 0.8rem;
                                font-size: 0.625rem
                            }
                            .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellPast {
                                border: 0.125rem solid@sapUiExtraLightBG;background-color:@sapUiExtraLightBG}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellPast.sapRTSTOrdProdCalCellWeekend {
                                    border: 0.125rem solid@sapMeOverlapCalendarType00;background-color:@sapMeOverlapCalendarType00}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellPast.sapRTSTOrdProdCalCellPublicHoliday {
                                        border: 0.125rem solid@sapMeOverlapCalendarType06;background-color:@sapMeOverlapCalendarType06}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellToday {
                                            border: 0.125rem solid@sapUiSwitchOnBorder}html:not([dir=rtl]) .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellToday {
                                                background: -webkit-linear-gradient(left top, @sapUiExtraLightBG 50%, @sapMeOverlapCalendarType01 50%);
                                                background: -o-linear-gradient(bottom right, @sapUiExtraLightBG 50%, @sapMeOverlapCalendarType01 50%);
                                                background: -moz-linear-gradient(bottom right, @sapUiExtraLightBG 50%, @sapMeOverlapCalendarType01 50%);
                                                background: linear-gradient(to bottom right, @sapUiExtraLightBG 50%, @sapMeOverlapCalendarType01 50%)
                                            }
                                            html[dir=rtl] .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellToday {
                                                background: -webkit-linear-gradient(right top, @sapUiExtraLightBG 50%, @sapMeOverlapCalendarType01 50%);
                                                background: -o-linear-gradient(bottom left, @sapUiExtraLightBG 50%, @sapMeOverlapCalendarType01 50%);
                                                background: -moz-linear-gradient(bottom left, @sapUiExtraLightBG 50%, @sapMeOverlapCalendarType01 50%);
                                                background: linear-gradient(to bottom left, @sapUiExtraLightBG 50%, @sapMeOverlapCalendarType01 50%)
                                            }
                                            html:not([dir=rtl]) .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellToday.sapRTSTOrdProdCalCellWeekend {
                                                background: -webkit-linear-gradient(left top, @sapMeOverlapCalendarType00 50%, fade(@sapUiHighlight,30) 50%);
                                                background: -o-linear-gradient(bottom right, @sapMeOverlapCalendarType00 50%, fade(@sapUiHighlight,30) 50%);
                                                background: -moz-linear-gradient(bottom right, @sapMeOverlapCalendarType00 50%, fade(@sapUiHighlight,30) 50%);
                                                background: linear-gradient(to bottom right, @sapMeOverlapCalendarType00 50%, fade(@sapUiHighlight,30) 50%)
                                            }
                                            html[dir=rtl] .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellToday.sapRTSTOrdProdCalCellWeekend {
                                                background: -webkit-linear-gradient(right top, @sapMeOverlapCalendarType00 50%, fade(@sapUiHighlight,30) 50%);
                                                background: -o-linear-gradient(bottom left, @sapMeOverlapCalendarType00 50%, fade(@sapUiHighlight,30) 50%);
                                                background: -moz-linear-gradient(bottom left, @sapMeOverlapCalendarType00 50%, fade(@sapUiHighlight,30) 50%);
                                                background: linear-gradient(to bottom left, @sapMeOverlapCalendarType00 50%, fade(@sapUiHighlight,30) 50%)
                                            }
                                            .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellFuture {
                                                border: 0.125rem solid@sapMeOverlapCalendarType01;background-color:@sapMeOverlapCalendarType01}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellFuture.sapRTSTOrdProdCalCellWeekend {
                                                    border: 0.125rem solid fade(@sapUiHighlight,0);background-color:fade(@sapUiHighlight,30)}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellFuture.sapRTSTOrdProdCalCellPublicHoliday {
                                                        border: 0.125rem solid@sapMeOverlapCalendarType06;background-color:@sapMeOverlapCalendarType06}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellFuture.sapRTSTOrdProdCalCellDeliveryDay {
                                                            border: 0.125rem solid@sapUiHighlight;background-color:@sapUiHighlight}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellFuture.sapRTSTOrdProdCalCellDeliveryDay .sapRTSTOrdProdCalText {
                                                                color: @sapUiTextInverted}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalText {
                                                                    font-weight: bold;
                                                                    font-size: 1.125rem;
                                                                    color: @sapUiLightText}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell .sapRTSTOrdProdCalPromotionIcon {
                                                                        color: @sapUiPositiveText}.sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellFuture.sapRTSTOrdProdCalCellDeliveryDay .sapRTSTOrdProdCalPromotionIcon {
                                                                            color: @sapUiTextInverted}.sap-phone .sapRTSTOrdProdTableCalendar .sapRTSTOrdProdCalCell.sapRTSTOrdProdCalCellToday.sapRTSTOrdProdCalCellExceedsTwoCharacters.sapRTSTOrdProdCalCellPromotion .sapRTSTOrdProdCalText {
                                                                                font-size: 0.625rem
                                                                            }
.sapRTSTOrdProdLabelPromotionList.sapMText {
    font-size: 0.7rem;
    color: @sapUiPositiveText}.sapMListTblCell.sapRTSTOrdProdColumnProductTable{padding-top:0.5rem;padding-bottom:0.5rem}html:not([dir=rtl]) .sapMListTblCell.sapRTSTOrdProdColumnProductTable.sapRTSTOrdProdColumnProductTableQuantity {
        padding-right: 0rem
    }
    html[dir=rtl] .sapMListTblCell.sapRTSTOrdProdColumnProductTable.sapRTSTOrdProdColumnProductTableQuantity {
        padding-left: 0rem
    }
    .sapRTSTOrdProdLabelPromotionDetail.sapMObjectAttributeDiv {
        color: @sapUiPositiveText}.sapMFlexBox.sapRTSTOrdProdVBoxQuantity{margin-top:1rem;padding-top:1rem}html:not([dir=rtl]) .sapMFlexBox.sapRTSTOrdProdVBoxQuantity>.sapMFlexItem {
            margin-right: 1rem
        }
        html[dir=rtl] .sapMFlexBox.sapRTSTOrdProdVBoxQuantity>.sapMFlexItem {
            margin-left: 1rem
        }
        .sap-phone .sapRTSTOrdProdGrid.sapUiRespGrid.sapUiRespGridVSpace1>div {
            margin-bottom: 0rem
        }
        .sapMPanel.sapRTSTOrdProdPanelCalendar .sapMPanelHdr {
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: 1rem
        }
        .sapMPanel.sapRTSTOrdProdPanelCalendar .sapMPanelContent {
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem
        }
        .sap-phone .sapMPanel.sapRTSTOrdProdPanelCalendar .sapMPanelHdr {
            padding-left: 0rem;
            padding-right: 0rem
        }
        .sapMPanel.sapRTSTOrdProdPanelCalendar .sapMText.sapRTSTOrdProdTextCalendarMonth {
            padding-bottom: 0.5rem
        }
        .sap-phone .sapMPanel.sapRTSTOrdProdPanelCalendar .sapMPanelBG.sapMPanelContent {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem
        }
        .sap-phone .sapMOH.sapRTSTOrdProdObjectHeader .sapMOHBottomRow {
            margin-top: 0.5rem
        }
        .sap-phone .sapMOH.sapRTSTOrdProdObjectHeader .sapMOHAttrRow {
            margin-top: 0.125rem
        }
        .sap-phone .sapMFlexBox.sapRTSTOrdProdVBoxQuantity {
            margin-top: 0
        }
        .sap-phone .sapMOH.sapRTSTOrdProdObjectHeader {
            margin-top: 0;
            margin-bottom: 0
        }
        html:not([dir=rtl]).sap-phone .sapMOH.sapRTSTOrdProdObjectHeader {
            margin-right: 0
        }
        html[dir=rtl].sap-phone .sapMOH.sapRTSTOrdProdObjectHeader {
            margin-left: 0
        }
        .sap-phone .sapRTSTOrdProdForm .sapUiFormTitle {
            padding-left: 0;
            padding-right: 0
        }
        .sap-phone .sapRTSTOrdProdForm .sapUiFormResGridCont {
            padding: 0.5rem 0 0.5rem 0
        }
        .sapRTSTOrdProdForm .sapUiFormTitle.sapUiFormTitleH4 {
            font-size: 1rem
        }
        .sapMLnk.sapRTSTOrdProdLinkPromotionName {
            margin-top: 0.5rem
        }
        .sapMLabel.sapRTSTOrdProdLabelPromotionName {
            margin-top: 0.5rem
        }